name: Build and Distribute Sample Tracker

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  build-client:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Bun
        uses: oven-sh/setup-bun@v1
      - name: Build Frontend
        run: |
          cd client
          bun install
          bun run build --emptyOutDir
      - name: Upload Frontend Build
        uses: actions/upload-artifact@v4
        with:
          name: client-build
          path: build/client/**

  build-linux:
    needs: build-client
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download Frontend Build
        uses: actions/download-artifact@v4
        with:
          name: client-build
          path: build/client
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - name: Build Linux binary
        run: |
          mkdir -p build
          GOOS=linux GOARCH=amd64 go build -o build/reesource-tracker ./main.go
      - name: Remove existing build/database directory
        run: rm -rf build/database
      - name: Create build/database directory
        run: mkdir -p build/database
      - name: Copy migrations
        run: cp -r database/migrations build/migrations
      - name: Upload Linux binary
        uses: actions/upload-artifact@v4
        with:
          name: reesource-tracker-linux
          path: build/**

  build-windows:
    needs: build-client
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download Frontend Build
        uses: actions/download-artifact@v4
        with:
          name: client-build
          path: build/client
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - name: Build Windows binary
        run: |
          $env:GOOS='windows'
          $env:GOARCH='amd64'
          go build -o build/reesource-tracker.exe ./main.go
      - name: Remove existing build/database directory
        run: if (Test-Path "build/database") { Remove-Item -Recurse -Force "build/database" }
      - name: Create build/database directory
        run: mkdir build/database
      - name: Copy migrations
        run: Copy-Item -Recurse -Force database/migrations build/migrations
      - name: Upload Windows binary
        uses: actions/upload-artifact@v4
        with:
          name: reesource-tracker-windows
          path: build/**

  build-docker:
    runs-on: ubuntu-latest
    needs: build-client
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download Frontend Build
        uses: actions/download-artifact@v4
        with:
          name: client-build
          path: client_built
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/${{ github.repository }}/reesource-tracker:latest
